<!-- Header -->
<section id="about-header" class="bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h1>About Us</h1>
      </div>
    </div>
  </div>
</section>
<!-- Introduction -->
<section id="about-introduction" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>We believe that a professional and friendly service comes first and foremost. We focus our attention on providing each customer with a personal service tailored to suit their individual requirements. We assure you that all of our clients are completely satisfied with the service they receive and return to us time and time again for advice and assistance with all their property related matters.</p>
      </div>
    </div>
  </div>
</section>
<!-- Why choose us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Why Choose Us</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-us" class="bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <p class="header-p">We guarantee contacting Uniqletts will be one of the best decisions you ever make and look forward to hearing from you and working with you.</p>
      </div>
      <div class="col-lg-6">
        <ul class="header-ul">
          <li>
            <h4>Attention to detail</h4>
          </li>
          <li>
            <h4>Excellent Property Knowledge</h4>
          </li>
          <li>
            <h4>Flexible and adaptable</h4>
          </li>
          <li>
            <h4>Friendly, professional and competitive</h4>
          </li>
          <li>
            <h4>Wide range of tailored services</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Our Services -->
<section class="title bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Our Services</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-services" class="bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <h4>Property Sales</h4>
          <img width="100%" src="assets/img/prop-1.jpg" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <h4>Lettings</h4>
          <img width="100%" src="assets/img/prop-2.jpg" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <h4>Property Management</h4>
          <img width="100%" src="assets/img/prop-3.jpg" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <h4>Investment Opportunities</h4>
          <img width="100%" src="assets/img/prop-4.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Policy -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Our Policy</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-policy" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <p>Uniqletts' policy is to treat all our clients equally and it is especially important to us that each of you feels valued.</p>
          <p>This policy applies to both tenants and landlords from the student looking for a room to the managing director looking for a penthouse apartment and from the landlord with multiple properties to the landlord with a single room in their house.</p>
          <p>It is essential to us that we provide the same level of respect and professionalism to all our clients.</p>
      </div>
    </div>
  </div>
</section>
<!-- Opoortunities abroad -->
<section class="title bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Opportunities</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-abroad" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Additionally Uniqletts offer a range of properties and land overseas which can be very attractive for those of you looking to invest, migrate or stay abroad for a short period of time.</p>
        <p>We deal with many overseas clients and have successfully let properties to UK residents abroad and for overseas residents in the UK. Uniqletts has a network of overseas associates and is more than willing to assist you in finding great accommodation in other countries.</p>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-contact" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <p>At Uniqletts our priority is to ensure that every single one of our clients feels happy and satisfied with the service they receive and considers our services to be fantastic value for money. We honestly believe a satisfied client is the best marketing tool for our company as they will recommend us and our services to friends and family indirectly contributing to our success.</p>
          <p>Please do not hesitate to enquire further about Uniqletts services. We are confident that we can accommodate your requirements and that you will not be disappointed. Uniqletts - Unique Lettings, for you.</p>
          <a ui-sref="contact" class="md-primary md-button md-ink-ripple">Contact Us</a>
      </div>
    </div>
  </div>
</section>
