<!-- Footer -->
<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <ul class="list-inline social-links pull-left">
          <li><a href="#"><i class="icon icon-whatsapp"></i></a></li>
          <li><a href="#"><i class="icon icon-linkedin"></i></a></li>
          <li><a href="#"><i class="icon icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon icon-instagram"></i></a></li>
          <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12">
        <p class="corporation text-center">Uniqletts &copy; 2018</p>
      </div>
      <div class="col-lg-4 col-xs-12">
        <ul class="list-inline pull-right">
          <li><a ui-sref="privacy">Privacy Policy</a></li>
        </ul>
      </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</footer>
