<section ng-controller="LettingsController as vm" class="listing">
  <!-- Header -->
  <div id="management-header" class="bg-transparent-lightblue">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <h1>Lettings</h1>
            <span ng-if="!vm.loading" class="listings`">{{vm.data.length}} properties found</span>
            <form id="sort-form">
              <md-select ng-model="vm.sortby" class="md-primary">
                <md-option ng-value="'-updated'">Last Updated</md-option>
                <md-option ng-value="'distance'">Distance</md-option>
                <md-option ng-value="'-price'">Price High-Low</md-option>
                <md-option ng-value="'price'">Price Low-High</md-option>
              </md-select>
            </form>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <md-chips class="current-search pull-left" input-aria-label="Current Search" input-aria-describedby="staticChipsNote">
              <md-chip><span ng-if="!vm.loading">Location: {{(vm.filter.location) ? ((vm.filter.location.postal_code) ? vm.filter.location.postal_code+', ' : '') + vm.filter.location.postal_town : 'any'}}</span></md-chip>
              <md-chip><span ng-if="!vm.loading">Distance: {{(vm.filter.distance) ? vm.filter.distance+((vm.filter.distance == '1') ?  ' Mile' : ' Miles') : 'any'}}</span></md-chip>
              <md-chip><span ng-if="!vm.loading">Min Price: {{(vm.filter.price.min) ? (vm.filter.price.min | currency:'£') : 'No Min'}}</span></md-chip>
              <md-chip><span ng-if="!vm.loading">Max Price: {{(vm.filter.price.max) ? (vm.filter.price.max | currency:'£') : 'No Max'}}</span></md-chip>
              <md-chip><span ng-if="!vm.loading">Min Bedrooms: {{(vm.filter.rooms) ? vm.filter.rooms : 'No Min'}}<span></md-chip>
              <md-chip><span ng-if="!vm.loading">Property Type: {{(vm.filter.property_type) ? vm.filter.property_type : 'any'}}<span></md-chip>
            </md-chips>
            <a class="pull-right" id="toggle-filter" ng-init="vm.showFilters = false" ng-click="vm.showFilters = !vm.showFilters"><i class="material-icons"> filter_list </i></a>
            <form class="filter-form clearfix" ng-if="vm.showFilters" name="form" id="form">
              <!-- Location -->
              <div class="col-lg-2 location">
                <label>Location</label>
                <md-input-container>
                  <input required ng-model="vm.filter.location.formattedLocation" ng-autocomplete details="vm.filter.location" id="location" name="location" type="text" />
                </md-input-container>
              </div>
              <!-- Distance -->
              <div class="col-lg-2 distance">
                <label>Distance</label>
                <md-select required ng-model="vm.filter.distance" class="md-primary">
                  <md-option ng-value="1" selected>1 Mile</md-option>
                  <md-option ng-value="3">3 Miles</md-option>
                  <md-option ng-value="5">5 Miles</md-option>
                  <md-option ng-value="10">10 Miles</md-option>
                  <md-option ng-value="25">25 Miles</md-option>
                  <md-option ng-value="50">50 Miles</md-option>
                </md-select>
              </div>
              <!-- Price -->
              <div class="col-lg-2 min-price">
                <label>Min Price</label>
                <md-slider ng-model="vm.filter.min_price" min="0" max="10000" class="md-primary" step="5"></md-slider>
              </div>
              <div class="col-lg-2 min-price">
                <label>Max Price</label>
                <md-slider ng-model="vm.filter.max_price" min="0" max="10000" class="md-primary" step="5"></md-slider>
              </div>
              <!-- Bedrooms -->
              <div class="col-lg-2 bedrooms">
                <label>Bedrooms</label>
                <md-select required ng-model="vm.filter.rooms">
                  <md-option value="1" selected>Studio/1 Bedroom</md-option>
                  <md-option value="2">2 Bedroom</md-option>
                  <md-option value="3">3 Bedroom</md-option>
                  <md-option value="4">4 Bedroom</md-option>
                  <md-option value="5">5+ Bedroom</md-option>
                </md-select>
              </div>
              <!-- Property Type -->
              <div class="col-lg-2 property-type">
                <label>Property Type</label>
                <md-select required ng-model="vm.filter.property_type">
                  <md-option value="all" selected>All property types</md-option>
                  <md-option value="houses">Houses</md-option>
                  <md-option value="flats">Flats / Apartments</md-option>
                </md-select>
              </div>
              <div class="clearfix"></div>
              <md-button ng-click="vm.search()" ng-disabled="form.$invalid || vm.loading">Filter Properties</md-button>
            </form>
            <div ng-if="vm.loading" ng-include src="'app/components/parts/loader.view.htm'"></div>
            <div ng-if="!vm.loading" class="search-result-listings">
              <div class="media property-item" ng-repeat="property in vm.properties | orderBy: [vm.sortby, 'featured']">
                <div class="media-left">
                  <a ui-sref="property({ id: property.id })">
                    <img  ng-if="property.images.length > 0" width="250" height="180" ng-src="{{property.images[0]}}" />
                    <span ng-if="property.images.length == 0">
                      <img src="assets/img/logo.png" />
                      <span>Pictures coming soon</span>
                    </span>
                    <div class="property-banner {{(property.status == 'taken') ? 'taken' : 'under-offer'}}" ng-if="property.status == 'under-offer' || property.status == 'taken'">{{(property.status == 'taken') ? 'Taken' : 'Under Offer'}}</div>
                  </a>
                  <div class="favourite">
                    <a ng-click="vm.toggleWishlist($event, property)" ng-class="{'no-image': property.images.length == 0}">
                      <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      	 viewBox="0 0 471.701 471.701" style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve">
                         <g>
                      	<path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                      		c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                      		l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                      		C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                      		s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                      		c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                      		C444.801,187.101,434.001,213.101,414.401,232.701z"/>
                      </g>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="media-body">
                  <a ui-sref="property({ id: property.id })"><h4 class="property-title">{{property.title}} <span ng-if="property.distance != -1" class="pull-right distance">{{property.distance | number:1}} Miles</span></h4></a>
                  <div class="property-short-description"><p class="text-left">{{property.short_description | limitTo : 300}}</p></div>
                  <div class="property-price">&pound;{{property.price}} {{property.price_type}}</div>
                  <div class="property-details">
                    <ul class="list-inline">
                      <li><i class="icon icon-bedroom"></i> {{property.bedrooms}}</li>
                      <li><i class="icon icon-bathroom"></i> {{property.bathrooms}}</li>
                    </ul>
                  </div>

                  </div>
                  <div class="clearfix"></div>
              </div>
              <pagination count="vm.data.length" take="vm.pager.take" activate="vm.pager.activate" max-size="vm.pager.maxSize" hide-arrows="false"></pagination>
              <div class="clearfix"></div>
            </div>
          </div>
      </div>
    </div>
  </section>
