<!-- Header -->
<section id="management-header" class="bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h1>Block Management</h1>
      </div>
    </div>
  </div>
</section>
<!-- Introduction -->
<section id="management-introduction" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="large"><b>From day-to-day management to advising developers on the design of communal areas, we take care of anything and everything relating to apartment blocks and their communal areas.</b></p>
        <p>We work closely with developers to ensure that everything, from lifts to gardens, are designed so that they can be managed practically and cost effectively. We then offer advice and assistance to set service charge budgets, provide pre-completion consultancy to the house builders, and carry out consultations for major works and long-term agreements.</p>
      </div>
    </div>
  </div>
</section>
<!-- Why choose us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Advice and assistance for achieving practical and cost-effective management</h2>
      </div>
    </div>
  </div>
</section>
<section id="management-let-only" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Our clients range from investor funds to private landlords and resident management companies, with properties across the spectrum, from 500-unit new-builds to converted blocks in prime estates. </p>
        <p>We deal with the tendering and management of maintenance contracts, and the appointment and management of onsite staff to ensure the smooth running of the building. The team has a wealth of experience managing a variety of residential assets for a multitude of clients, so we are often called for expert witness and mediation.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-contact" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <p>At Uniqletts our priority is to ensure that every single one of our clients feels happy and satisfied with the service they receive and considers our services to be fantastic value for money. We honestly believe a satisfied client is the best marketing tool for our company as they will recommend us and our services to friends and family indirectly contributing to our success.</p>
          <p>Please do not hesitate to enquire further about Uniqletts services. We are confident that we can accommodate your requirements and that you will not be disappointed. Uniqletts - Unique Lettings, for you.</p>
          <a ui-sref="contact" class="md-primary md-button md-ink-ripple">Contact Us</a>
      </div>
    </div>
  </div>
</section>
