header#header {
  position: relative;
  z-index: 9;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding: 10px 15px;
}
nav#main-navbar {
    text-align: center;
}
nav#main-navbar .navbar-nav {
  display: inline-block;
      float: none;
      vertical-align: top;
      margin-top: 7px;
}
.navbar-nav>li {
    float: left;
    padding: 0 5px;
}
.navbar .navbar-collapse {
  text-align: center;
}
a.navbar-brand img {
    height: 100%;
    width: auto;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: #0099fa;
    color: white;
}
span.icon-bar {
    background: #007bc3;
}
a.navbar-brand {
  height: 42px;
  padding-bottom: 0;
  padding: 4px 0 0 0;
}
.navbar-toggle {
  color: #007bc3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  margin: 10px 0 0 0;
}
div#quick-links {
    text-align: center;
    background: white;
    clear:both;
}
#quick-links a {
    color: #121212;
    height: 36px;
    padding: 9px 10px !important;
    font-weight: 400;
    font-size: 12px;
}


nav#main-navbar {
  padding:0;
}
@media (min-width: 768px) {
  .navbar-toggle {
      display: none;
  }
}
