.card {
  background: white;
  box-shadow: none;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #dae4ea;
}
.property-price,
.property-address {
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
}
section#features .property-short-description {
    margin-bottom: 0;
    border-bottom: 1px solid #dde6eb;
}

.property-short-description {
    text-align: center;
    padding: 10px 15px;

}
.property-image {
    position: relative;
}
.property-details li {
    font-size: 20px;
}
.favourite a {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    border: 1px solid #FFD700;
}
.favourite a i.icon.icon-heart {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  cursor: pointer;
  cursor: hand;
}
.property-short-description p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 20px;
}
.card h4 {
    padding: 15px 55px 15px 15px;
    margin: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0,.4);
    left: 0;
    right: 0;
    color: white;
    bottom: 0;
}
.card h4 a {
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.property-image a {
    display: block;
}
.search-result-listings .media-left {
    position: relative;
}

.property-short-description p {
    margin-bottom: 20px;
}

.search-result-listings .property-short-description {
    text-align: center;
    padding: 0;
}

.search-result-listings .favourite a {
    right: 20px !important;
}

.search-result-listings .property-price {
    position: absolute;
    right: 0;
    bottom: 0;
}

.search-result-listings .media-body {
    position: relative;
}

.property-details {
    position: absolute;
    bottom: 0;
    left: 0;
}
.search-result-listings .media-body {
    /*border-bottom: 1px solid #98c7e4;*/
}
.card img {
    width: 100%;
    height: 230px;
}

.property-short-description {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 40px;
}
.media-body h4 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

.property-short-description p {
    margin: 0;
    font-size: 14px;
}
section.listing .container {
    background: white;
    padding-bottom: 70px;
}
.listing h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}

.listing h1 span {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #98c7e4;
}

.listing .property-listing {
    margin-bottom:  60px !important;
}

.media.property-item {
    margin-bottom: 30px;
    clear: both;
    border-bottom:10px solid #f8f8f8;
    padding-bottom:30px
}

.media-body h4 {
    font-size: 18px;
    line-height: 1.4;
}

div#property-filter {
    background: rgba(30,136,229,.7) !important;
    color: white;
    height: 40px;
    border-bottom: 1px solid #eee;

}
div#property-filter a {
  font-size: 14px;
  display: block;
  padding: 10px 10px;
  height: 40px;
  color: #ffffff;

  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  background-image: url(../img/down-chevron.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95% 50%;
}
div#property-filter form > div  {
  border-right: 2px solid #eee;
}
div#property-filter form > div:last-child  {
  border:none;
}

section#features .property-short-description {
    margin-bottom: 0;
}
::placeholder { color: #ffffff !important;font-size:14px; }
input::placeholder { color: #ffffff !important;font-size:14px; }
input::placeholder { color: #ffffff !important;font-size:14px; }
ul#feature-toggle {
    margin: 0 auto 30px;
    display: block;
    text-align: center;
    padding: 0;
}

ul#feature-toggle li a {
    display: block;
    padding: 10px 25px;
    color: white;
    cursor: hand;
    cursor: pointer;
    font-weight:bold;
}

ul#feature-toggle li a#sales {
    background: #376fbb;
    border-radius: 10px 0 0 10px;
}

ul#feature-toggle li a#lettings {
    background: #3695f3;
    border-radius: 0 10px 10px 0;
}

ul#feature-toggle li {
    padding: 0;
}
ul#feature-toggle li:first-child {
    margin-right: -2px;
}

ul#feature-toggle li:last-child {
    margin-left: -2px;
}
form.filter-form {
    padding: 20px 0;
    margin: 0 -10px 15px -10px;
}

form.filter-form .col-lg-2 {
    margin: 0;
    padding: 0 10px;
}
form.filter-form .col-lg-2 > * {
    margin: 0;
}
form.filter-form label {
    margin-bottom:10px !important;
}
.location input#address {
  padding: 4px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  outline:noen !important;
}
a#toggle-filter {
  display: block;
  background: #2973ba;
  margin-top: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  cursor: hand;
  transition: all linear .3s;
}

a#toggle-filter:hover,a#toggle-filter:focus {
  background: #75b0d3;
}

form.filter-form button.md-button {
  background: #2972ba;
  color: white;
  padding: 0 15px;
  float: right;
  transition: all linear .3s;
}
.favourite a svg {
    width: 17px;
}

.favourite a {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor:hand;
  cursor:pointer;
}

section#wishlist md-input-container {
    width: 100%;
}
form.filter-form button.md-button:hover,form.filter-form button.md-button:focus {
  background: #77b1d3;
}
span.listings {
  font-size: 18px;
}
.current-search {margin:10px 0 20px;border:none;}
@media(max-width:991px) {
  .property-short-description {
    height: 120px;
  }
}
@media(max-width:768px) {
  .card {
      margin-bottom: 20px;
  }
  .property-short-description {
    height: auto;
    padding:20px 15px;
  }
}
