section#reviews {
    padding: 50px 0;
    background: #73aad1;
    color: white;
    text-align: center;
}
.review h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}
section#reviews p {
    font-size: 20px;
    line-height: 28px;
}
section#reviews i {
    color: #ffe400;
}
