<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Reviews</h1>
        <p>Here about what some of our customers say about us</p>
        <div class="col-lg-3" ng-repeat="review in vm.reviews">
          <div class="card">
            <i ng-if="$index <= review.rating" ng-repeat="n in [1, 2, 3, 4, 5]" class="icon icon-star"></i>
            <p>{{review.review}}</p>
            <p><b>{{review.username}}</b></p>
            <p><b>{{review.date}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
