<section  id="property-valuation">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-offset-3">
        <div class="card">
          <div class="steps">
            <ul class="list-inline">
              <li>
                <span class="circle-number">1</span>
                <span class="circle-label">Find Address</span>
              </li>
              <li>
                <span class="circle-number">2</span>
                <span class="circle-label">Add Details</span>
              </li>
              <li>
                <span class="circle-number">3</span>
                <span class="circle-label">Get Valuation Report</span>
              </li>
            </ul>
          </div>
          <form>
            <div class="property-valuation-step-1">
              <div class="form-group">
                <input type="text"  placeholder="Enter Post Code" />
              </div>
            </div>
            <div class="property-valuation-step-2">
              <div class="form-group">
                <label>Type of property</label>
                <select>
                  <option>Property type...</option>
                  <option>House - Detached</option>
                  <option>House - Semi-Detached</option>
                  <option>House - Mid Terrace</option>
                  <option>House - End Terrace</option>
                  <option>Flat - Purpose Built</option>
                  <option>Flat - Converted</option>
                  <option>Bungalow - Detached</option>
                  <option>Bungalow - Semi-Detached</option>
                  <option>Bungalow - Mid Terrace</option>
                  <option>Bungalow - End Terrace</option>
                </select>
              </div>
              <div class="form-group">
                <label>Bedrooms</label>
                <select>
                  <option>Select Bedrooms...</option>
                  <option>Studio / 1 Bedroom</option>
                  <option>2 Bedrooms</option>
                  <option>3 Bedrooms</option>
                  <option>4 Bedrooms</option>
                  <option>5 Bedrooms</option>
                  <option>6 Bedrooms</option>
                  <option>7 Bedrooms</option>
                  <option>8 Bedrooms</option>
                  <option>9 Bedrooms</option>
                  <option>10 Bedrooms</option>
                </select>
              </div>
              <div class="form-group">
                <select>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Ms</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Firstanme" />
              </div>
              <div class="form-group">
                <input type="text" placeholder="Surname" />
              </div>
              <div class="form-group">
                <input type="text" placeholder="Phone" />
              </div>
              <div class="form-group">
                <input type="email" placeholder="Email" />
              </div>
            </div>
            <div class="property-valuation-step-3">
              <h4>Your estimated valuation</h4>
              <address>4 Beckett Close, London, SW16 1AN</address>
              <div>sale or valuation chart</div>
              Want a more accurate price?
Our local expert will be in touch shortly with further details.

Or call 020 8150 5400 to speak to us now.
          contact uniqletts
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
