<section id="reviews">
    <div class="container">
	    <div class="row">
        <div class="col-lg-12">
            <div class="review">
                <h2>what our cusomters have had to say</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et quam eu tortor venenatis tristique in nec ex. Nam consequat lectus id vehicula luctus. Suspendisse blandit, velit commodo semper ornare, elit nulla ultricies tellus, in ornare diam justo eget turpis.</p>
                <p class="large"><b>Sarah Jane</b></p>
                <ul class="list-inline rating">
                  <li><i class="material-icons">star</i></li> <li><i class="material-icons">star</i></li> <li><i class="material-icons">star</i></li> <li><i class="material-icons">star</i></li> <li><i class="material-icons">star</i></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
</section>
