<section id="reviews">
    <div class="container">
	    <div class="row">
        <div class="col-lg-12">
            <div class="review">
                <h2>what our cusomters have had to say</h2>
                <p>Excellent service reasonably priced.<br><br>As landlords we have used Uniqletts agents since we first started in 2012. We have never been disappointed with their service, always excellent and great value for money. Like that there is a choice of how much you want them to do, can chose from basic to gold standard depending on how much you want to pay.</p>
                <p class="large"><b>Virag Lorincz</b></p>
                <ul class="list-inline rating">
                  <li ng-repeat="n in [1, 2, 3, 4, 5]"><i class="material-icons">star</i></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
</section>
