<!-- Hero -->
<section id="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="caption">
          <h2 class="ng-binding">A UNIQUE PROPERTY EXPERIENCE</h2>
          <h3>Providing the highest quality agency experience through out London</h3>
          <p><b>Need to know your potential rental or sales valuation of your property?</b></p>
          <p>Complete our quick form, for your property valuation today</p>
          <md-button ui-sref="contact" class="md-primary">Contact Us</md-button>
        </div>
      </div>
    </div>
  </div>
</section>
