
  <section class="transparent-title">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2>Property Investments</h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="property-valuation">
  <div class="col-lg-12 valuation-ad">
    <div class="valuation-ad">
      <h2>How much is your home worth?</h2>
      <p>Free, no-obligation property valuation for all homes in London &amp; Surrey</p>
      <p><b>Extended? Renovated? Remortgaging? Considering selling later? Or just curious?</b></p>
      <md-button class="md-primary pull-right" ui-sref="contact">Instant Valuation</md-button>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
