<!-- Header -->
<section id="management-header" class="bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h1>Uniqletts Full Letting &amp; Management Service</h1>
      </div>
    </div>
  </div>
</section>
<!-- Introduction -->
<section id="management-introduction" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>This service is &quot;The works&quot; as we like to call it! We will let and manage your property from beginning to end leaving you with not a worry in the world. This service is a combination of Uniqletts Let Only Service and Uniqletts Management Service both of which are outlined below.</p>
      </div>
    </div>
  </div>
</section>
<!-- Why choose us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Uniqletts Let Only Service</h2>
      </div>
    </div>
  </div>
</section>
<section id="management-let-only" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>This option is ideal for those of you are having difficulty finding a suitable tenant for your property and require help to attract and vet prospective tenants. It is also particularly suitable for those of you who have busy schedules and do not have the time to arrange and carry out viewings with prospective tenants.</p>
        <p><strong>The service includes all of the following:</strong></p>
        <ol>
          <li><p>A free comprehensive market appraisal and suggestions on how to possibly increase this value based on our experience in the market.</p></li>
          <li><p>Advertising on our website and other leading websites such as Gumtree,&nbsp;Right move, Zoopla&nbsp;and Prime location.</p></li>
          <li><p>Advertising in local publications.</p></li>
          <li><p>Experienced and highly motivated staff arranging and carrying out viewings with prospective tenants.</p></li>
          <li><p>Constructive feedback after every viewing.</p></li>
          <li><p>Completion of a thorough tenant vetting process to include credit checks, employer reference checks and previous landlord checks if applicable.</p></li>
          <li><p>Tenancy renewals. Our Let Only Service is provided on a NO LET NO FEE basis so until we find a suitable tenant with whom you are happy and they are moving into your property we do not charge you a penny. Additionally we are so confident that you will be impressed with our market expertise and high level of service we do not tie you in and you are free to market your property with other agents if you wish to do so. Upon letting your property we will charge you just one single fee which is deducted from the first months rent. Consequently you will receive 100% of the rent every month by direct debit which we will set up with the tenant on your behalf. This ensures you will receive your money on time and directly into your account.</p></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Our Services -->
<section class="title bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Uniqletts Management Service</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-policy" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Uniqletts Management Service is particularly suited to landlords who do not want the hassle of having to deal with complaining tenants every time there is a small problem. We understand that the last thing you want is a call in the middle of the night from tenants with a broken boiler or a leaking roof so why not let us handle these awkward situations for you.</p>
        <p>Our property management service includes an emergency crisis management team who are available 24 hours a day to handle any problems as soon as they occur. Additionally routine maintenance checks will be performed on a regular basis and full visit reports provided to you. We have built up a network of professional suppliers and contractors in whom we trust to do an outstanding job on your property at an affordable and fair price.</p>
        <p>A full inventory check-out will be performed every time an existing tenancy ends and we will help to negotiate any damages and reimbursements with the tenants.</p>
        <p>Additionally to ensure you get the best returns from your property and avoid any unnecessary time where the property is empty our interior solutions team will advise you on cost effective ways to refresh or redecorate your property. We successfully manage numerous developments all over London and provide each of our landlords with an efficient and friendly management service. Our experience in managing properties and developments of all shapes and sizes ensures you consistently receive an exceptional service and your property is always in a safe, clean and desirable condition.</p>
      </div>
    </div>
  </div>
</section>
<!-- Opoortunities abroad -->
<section class="title bg-transparent-lightblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Services included in the Uniqletts Management Service are</h2>
      </div>
    </div>
  </div>
</section>
<section id="managements-services-list" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ol>
          <li><p class="text-left">Rent collection and ensuring rent is received on time.</p></li>
          <li><p class="text-left">Negotiation and holding of deposits.</p></li>
          <li><p class="text-left">Ensuring all meters readings are taken at check in and check out dates.</p></li>
          <li><p class="text-left">Thorough property inspection at tenancy end dates.</p></li>
          <li><p class="text-left">Preparation of inventory reports at check in and check out dates.</p></li>
          <li><p class="text-left">Obtaining quotes and arranging independent contractors to carry out maintenance work.</p></li>
          <li><p class="text-left">Supervision of maintenance and building works.</p></li>
          <li><p class="text-left">Routine maintenance checks and reports.</p></li>
          <li><p class="text-left">Payment of service charges and insurances where applicable.</p></li>
          <li><p class="text-left">Payment of bills during periods where property is empty.</p></li>
          <li><p class="text-left">24 hour in house management team dedicated to handling tenant issues and queries.</p></li>
          <li><p class="text-left">Provision of advice by our interior solutions team with regards to decor and furnishings.</p></li>
          <li><p class="text-left">Purchase of new furniture and replacement of existing furniture if or when necessary.</p></li>
          <li><p class="text-left">Company formation to manage your property portfolio and preparation of annual accounts for the company. There is fixed Monthly/Quarterly fee for our management service which is negotiable depending on the property and your individual requirements. We hope that you will find the above information useful and if there are any aspects of which you are unsure, please do not hesitate to contact us. We look forward to being of assistance to you in the letting and management of your property.</p></li>
        </ol>
    </div>
  </div>
</section>
<!-- Contact Us -->
<section class="title bg-transparent-darkblue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
          <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-contact" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <p>At Uniqletts our priority is to ensure that every single one of our clients feels happy and satisfied with the service they receive and considers our services to be fantastic value for money. We honestly believe a satisfied client is the best marketing tool for our company as they will recommend us and our services to friends and family indirectly contributing to our success.</p>
          <p>Please do not hesitate to enquire further about Uniqletts services. We are confident that we can accommodate your requirements and that you will not be disappointed. Uniqletts - Unique Lettings, for you.</p>
          <a ui-sref="contact" class="md-primary md-button md-ink-ripple">Contact Us</a>
      </div>
    </div>
  </div>
</section>
